<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html DIR="LTR">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <meta name="keywords" content="pakistan, flood, resource, finder, hospitals, medicine, medical, supplies, crisis, disaster, pakistani, pakistan floods"> <meta http-equiv="content-language" content="en">

  <title>Google Resource Finder</title>

  <style type="text/css"><!--
    body { font-family: arial, sans-serif; font-size: 13px; margin: auto;
      max-width: 1000px; padding: 15px; }

    div.languages { float: right; }
    div.languages .selected { font-weight: bold; }
    div.embed pre { margin-left: 2em; padding: 0.5em; background: #eee;
      border: 1px solid #ddd; }

    .footer { margin: auto; text-align: center; }
    .logo-footer { margin: 1em 0; text-align: center; }

    h1 { margin-top: 0.5em; font-size: 18px; }
  --></style>
</head>

<body>
  <div class="languages">
    {% for lang in params.languages %} {% ifequal lang.0 params.lang %}<span class="selected">{{lang.1}}</span> {% else %}<a href="{{embed_url}}&lang={{lang.0}}">{{lang.1}}</a> {% endifequal %}{% if not forloop.last %} | {% endif %} {% endfor %}
  </div>

  <h1><a href="{{home_url}}">Resource Finder</a></h1>

  <div class="embed">
    <h2>Intégration de l'application</h2>
    <p>Pour intégrer cet outil de recherche de ressources à votre site, copiez-collez le code HTML suivant :</p>

    <pre>
      &lt;iframe
      &nbsp;&nbsp;src='{{home_url}}' id='iframe'
      &nbsp;&nbsp;width="740px" height="400" frameborder=0 style="border: dashed 2px #77c"&gt;
      &lt;/iframe&gt;</pre>

    <p>Ce gadget est fourni sous <a href="http://www.apache.org/licenses/LICENSE-2.0.html">licence Apache 2.0</a>.</p>

    <br/><br/>

    {% include "footer.html" %}
  </body>
</html>
