<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Resource Finder</title>
<style>
  body, h1, td, p { font-family: helvetica, arial; font-size: 13px; }
  h1 { font-size: 16px }
  .footer { margin: 3em 0 0; text-align: center; color: #666; }
  .maincontent { width: 760px; margin: 15px; }
</style>
</head>
<body class="maincontent">
<h1>Google Resource Finder Privacy Policy</h1>
<p>The <a href="http://www.google.com/privacy.html">Google Privacy Policy</a> describes how we treat personal information when you use Google's products and services, including Google Resource Finder. In addition, the following describes our privacy practices that are specific to certain features of Google Resource Finder (referred to below as “the Service”).

<p>You need a <a href="http://www.google.com/privacy_faq.html#toc-terms-account">Google Account</a> to be able to edit content on Google Resource Finder. Google asks for some personal information when you create a Google Account, including your email address and a password, which is used to protect your account from unauthorized access.  A Google Account allows you to access many of our services that require registration.

<h3>Identification of editors of content:</h3>
<p>While making any change on the Resource Finder, you must be logged in. Any edit you make in Resource Finder will be published along with the name and affiliation you provide through the Service.  You will also have the option of giving a pseudonym or a nickname, in which event, you will be identified by your pseudonym or nickname, instead of your name.

<p>By using the Service, you expressly consent that your name or pseudonym/nickname, as the case may be, and your affiliation will be displayed publicly to identify you in connection with the content that you add or edit on Google Resource Finder.   Any edit made by you will be visible to all other users.  The changes made by you on Google Resource Finder are not protected by passwords and are capable of being modified by other users, in accordance with the Google Resource Finder Terms of Service. You may delete your Google Account at any point, and after that you will not be able to make any further changes to Resource Finder. You consent that we may retain any edits or contributions made by you as a Google Account holder and continue to identify your name along with such edits. We retain the discretion to disable such edits made by you but are under no obligation to do so and other users may be able to view the entire history of any change or edit made to a particular resource.

<h3>Communication with users:</h3>
<p>The Google Resource Finder team may communicate with you at the email ID voluntarily given by you. In addition, you may also opt to receive notifications from the Google Resource Finder team on the email ID given by you. You consent to receiving such email communications from the Google Resource Finder team or moderators and agree that such email communication does not constitute spam or unsolicited email communications (or terms of equivalent import as may be used in your jurisdiction).

{% include "footer.html" %}
{% include "../../templates/analytics.html" %}
</body>
</html>
