<!DOCTYPE html> 
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Resource Finder</title>
<style>
  body, h1, td, p { font-family: helvetica, arial; font-size: 13px; }
  h1 { font-size: 16px }
  .footer { margin: 3em 0 0; text-align: center; color: #666; }
  .maincontent { width: 760px; margin: 15px; }
</style>
</head>
<body class="maincontent">
<h1>Terms of Service for Google Resource Finder</h1>
<p>Thanks for your interest in the Google Resource Finder (referred to below as "the Service").  The Service allows you to add, edit, and search for resource information in connection with location information and content provided by Google.

<p>By using Google Resource Finder (referred to below as the "Service") and any data or information accessed through the Service, you agree to be bound by the <a href="http://www.google.com/intl/en_us/help/terms_maps.html">Google Maps/Earth Terms of Service</a>, the <a href="/privacy">Google Resource Finder Privacy Policy</a>, and the additional terms and conditions set forth below. These terms, taken together, are referred to here as "the Agreement." The Service is made available to you for your non-commercial use in accordance with the Agreement.

<h3>Appropriate Conduct and Prohibited Actions</h3>
<p>You agree that you are responsible for your own conduct and content while using the Service. You agree to use the Service only for purposes that are legal, proper and in accordance with this Agreement. By way of example, and not as a limitation, you agree that when using the Service, you will not:
<ul>
<li>defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others;
<li>upload, post, email, transmit or otherwise make available the name, address, phone number or email address of any individual, unless that information has been made publicly available by that individual, or you have the consent of the individual to make the information publicly available;
<li>upload, post, email, transmit or otherwise make available any inappropriate, defamatory, infringing, obscene, or unlawful content; 
<li>edit or modify any other user's submission in a manner that you know, or should reasonably know, is inaccurate, or
<li>use the content in the Service, including information regarding individuals, to direct marketing, promotional, or advertising materials to any person.
</ul>

<p>You understand and agree that Google may or may not pre-screen user-submitted content in the Service and shall have the right, (but not the obligation) in its sole discretion to pre-screen, refuse or remove any user-submitted content in connection with the Service.

<h4>Disclaimer</h4>
<p>You acknowledge and agree that any content (including user-submitted content) made available or accessible through the Service is provided "as is," and you agree to use it at your own risk. Google makes no guarantee, representation or warranty of any kind, express or implied, arising by law or otherwise, including but not limited to, content, quality, accuracy, completeness, reliability, fitness for a particular purpose, usefulness, or that the Service will be uninterrupted or error-free.

{% include "footer.html" %}
{% include "../../templates/analytics.html" %}
</body>
</html>
