<!DOCTYPE html>
<html lang="ht">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Resource Finder</title>
<style>
  body, h1, td, p { font-family: helvetica, arial; font-size: 13px; }
  h1 { font-size: 16px }
  .footer { margin: 3em 0 0; text-align: center; color: #666; }
  .maincontent { width: 760px; margin: 15px; }
</style>
</head>
<body class="maincontent">
<h1>Kondisyon Sèvis pou Resource Finder Google (Terms of Service for Google Resource Finder)</h1>
<p>Mèsi pou enterè ou montre nan Resous finder Google (nou rele Sèvis la "the Service", piba a). Sèvis la (The Service) pèmèt ou ajoute, korije, oubyen chèche enfòmasyon kòm resous nan koneksyon avèk enfòmasyon sou lokalizasyon ak kontni Google founi yo.

<p>Depi w ap itilize Resource Finder Google (nou rele Sèvis la “the Service”, piba a), ak nenpòt ansèyman oubyen enfòmasyon ou ka antre gras a Sèvis la, ou konsanti ou angaje w avèk “<a href="http://www.google.com/intl/ht/help/terms_maps.html">Google Maps/Earth Terms of Service</a>, the <a href="/privacy?lang=ht">Google Resource Finder Privacy Policy</a>” epi lòt règleman ak kondisyon nou prezante piba yo. Kondisyon say o, lè nou kole yo ansanm, nou rele yo  akò a (“the Agreement.”) Nou mete Sèvis la (The Service) disponib pou ou pou itilizasyon pa ou ki pa komèsyal an akò avèk “Agreement” la.

<h3>Konduit Apwopriye ak Aksyon nou Entèdi</h3>
<p>Ou konsanti pou w pran responsablite pou pwòp konduit ak kontni pa ou pandan w ap itilize Sèvis la (the Service). Ou dakò pou w itilize Sèvis la sèlman pou rezon ki legal, kòrèk, e ki an akò ak kondisyon sa a (Agreement). Pa ekzanp, san nou pa gen limit, ou dakò ke lè w ap itilize Sèvis la, ou pap:
<ul>
<li>di kozman ki pa sa, pap gen ni abi, ni arasman, ni betiz, ni menas; ou pap vyole dwa lòt moun (tankou dwa pwopriyete pèsonèl ak piblisite);
<li>chaje, voye monte (upload), poste, email, twansmèt, ou otreman pibliye non, adrès, nimewo telefòn ak adrès eletwonik nenpòt lòt endividi, eksepte si enfòmasyon si se moun lan limenm ki pibliye pwòp enfòmasyon pa li oubyen ankò se moun lan ki ba w konsantman li pou w pibliye enfòmasyon sa a ki konsène l la;
<li>chaje, voye monte (upload), poste, email, twansmèt, ou otreman pibliye kontni inapwopriye, difamatwa, derespektan, endesan, oubyen ilegal;
<li>edite, chanje, ou modifye sa yon lòt kliyan soumèt nan yon fason kote ou konnen, ou ke out a dwe rezonableman konnen, pa ditou bon oubyen kòdjyòm, oubyen
<li>itilize kontni nan Sèvis la, avèk ladan li enfòmasyon ki konsène lòt moun, pouf è pwomosyon komèsyal, oubyen pou w fè piblisite pou pwodui pou lòt moun ka okouran.
</ul>

<p>Ou konprann epi ou dakò tou ke Google kapab ekzamine kontni yon kliyan soumèt bay Sèvis la, menmjan li gen dwa pa fè sa tou; Google gen dwa tou, (san li pa gen obligasyon) nan pwòp diskresyon pa li pou li ekzamine, refize, oubyen anlve nenpòt kontni yon kliyan soumèt ki gen koneksyon a Sèvis la.

<h4>Konsantman</h4>
<p>Ou rekonèt e ou dakò ke nenpòt kontni (avèk anndan l kontni yon kliyan te soumèt) nou mete disponib atravè Sèvis la, nou prezante yo “jan yo ye a”  e ke ou dakò pou w itilize li ak tout risk li gen ladan li. Google pa bay okenn sòt garanti, oubyen reprezantasyon, li pa di anyen ni klèman, ni an kachèt, li pa fè okenn pwomès ki chita sou lalwa ou otreman, ki gen ladan li (san li pa limite a) kontni, kalite, presizyon, totalite, konfyans, anfòm, pou yon bi detèmine, itilite; Google pa pwomèt sèvis la pap janm entèwonpi, oubyen ankò li pa gen okenn erè ladan li.

{% include "footer.html" %}
{% include "../../templates/analytics.html" %}
</body>
</html>
