<!DOCTYPE html>
<html DIR="RTL" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ریسورس تلاش کنندہ</title>
<style>
  body, h1, td, p { font-family: helvetica, arial; font-size: 13px; }
  h1 { font-size: 16px }
  ol { margin:0 0 1em 2em; *margin:0 0 1em 2.3em }
  p { margin:0 0 1em }
  li { margin:0 0 .5em }
  .footer { margin:3em 0 0; text-align:center; color: #666; }
  .q { font-weight: bold }
  .maincontent { width:760px; margin: 15px; }
</style>
</head>
<body class="maincontent">
<h1>عمومی سوالات</h1>

<ol>
<li><a href="#edit">میں ریسورس تلاش کنندہ میں سہولت کے بارے میں کس طرح معلومات کی تدوین کرونگا؟ کیا کوئی تدوین کرسکتا ہے؟</a>
<li><a href="#correct">اگر میں ریسورس تلاش کنندہ میں کوئی  معلومات دیکھون جو غلط ہے تو کیا ہوگا؟</a>
<li><a href="#valid">کیا ریسورس تلاش کنندہ میں تمام کوائف درست ہیں؟</a>
<li><a href="#new">کیا میں ریسورس تلاش کنندہ میں ایک سہولت کا اضافہ کرسکتا ہوں جو درج نہیں ہے؟</a>
<li><a href="#print">کیا میں ریسورس تلاش کنندہ میں معلومات کو پرنٹ کرسکتا ہوں؟</a>
<li><a href="#export">کیا میں ریسورس تلاش کنندہ سے معلومات برآمد کرسکتا ہوں؟</a>
<li><a href="#availability">کیا ہیتی سے باہر مقامی لوگوں کے لیے ریسورس تلاش کنندہ دستیاب ہے؟</a>
<li><a href="#source">ریسورس تلاش کنندہ میں معلومات کہاں سے آتی ہیں؟</a>
<li><a href="#privacy">کیا میں تاریخ تبدیل کریں میں اپنے نام کو عوامی طور پر درج کیے بغیر ریسورس تلاش کنندہ میں معلومات کی تدوین کرسکتا ہوں؟</a>
<li><a href="#mobile">کیا ریسورس تلاش کنندہ موبائل فون پر کام کرتا ہے؟</a>
<li><a href="#mobile">میں کس طرح اسپام یا غلط استعمال کی اطلاع دوں؟</a>
<li><a href="#feedback">میں ریسورس تلاش کنندہ کے بارے میں ردعمل کس طرح فراہم کریں؟</a>
</ol>

<a name="edit"/>
<p class="q">1. میں ریسورس تلاش کنندہ کے اندر سہولت بارے کے میں تدوین کس طرح کرسکتا ہوں؟ کیا کوئی تدوین کرسکتا ہے؟

<p>بائیں طرف سے ایک سہولت منتخب کریں، پھر دریچہ کی معلومات میں "اس ریکارڈ کی تدوین کریں" پر ککلک کریں جو پاپ اپ ہوتا ہے۔ کوئی بھی شخص جو Google اکاؤنٹ کے ساتھ لاگ ان ہے وہ دی ہوئی سہولت کی معلومات کی تدوین کرسکتا ہے۔ آپ  Google اکاؤنٹ کے بناسکتے ہیں <a href="https://www.google.com/accounts/NewAccount">یہاں</a>۔ کوئی بھی تدوین آپ ریسورس تلاش کنندہ میں کرتے ہیں اس کی اشاعت نام اور الحاق کے ساتھ ہوگی جسے آپ پہلی بار تدوین کے وقت فراہم کرتے ہیں۔ آپ کے پاس تخلص یا لقب دینے کا بھی اختیار ہے، اس صورت میں آپ کے نام کے بجائے آپ کے تخلص یا لقب سے آپ کی شناخت کی جائیگی۔ <a name="correct"/>
<p class="q">1. اگر میں ریسورس تلاش کنندہ میں ایسی معلومات دیکھتاہوں جو غلط ہے تو کیا ہوگا؟

<p>اس کی تدوین کریں! <a name="valid"/>
<p class="q">3. کیا ریسورس تلاش کرنے والے میں تمام کوائف درست ہیں؟

<p>Google اس کوائف کی صحت کا نہ جائزہ لیتا ہے اور نہ ہی تصدیق کرتا ہے۔ کوئی بھی شخص ریسورس تلاش کنندہ میں معلومات کی تدوین کرسکتا ہے۔ <a name="new"/> 
<p class="q">4. کیا میں ریسورس تلاش کنندہ  میں ایسی سہولت کا اضافہ کرسکتا ہوں جو درج نہیں ہے؟

<p>صرف منتظمین کسی سہولت کا اضافہ کرسکتے ہیں، کسی سہولت کو حذف کرسکتے ہیں، یا سہولت کا نام تبدیل کرسکتے ہیں۔ اگر آپ کسی سہولت کا اضافہ کرنا، حذف کرنا، یا نام کو تبدیل کرناچاہتے ہیں تو، برائے مہربانی ای میل کریں <a href="mailto:haitiaid@shoreland.com">haitiaid@shoreland.com</a>. <a name="print"/>
<p class="q">5. کیا میں ریسورس تلاش کنندہ کی معلومات کو پرنٹ کرسکتا ہوں؟ 

<p>ہاں۔ بائیں طرف سے ایک سہولت منتخب کریں، پھر دائیں طرف سب سے اوپر "پرنٹ" پر کلک کریں۔ یہ نقشے پردکھائے گئے منتخب سہولت اور دوسری قریبی سہولیات پر مشتمل ایک فہرست کے ساتھ پرنٹ منظر بنائیگا۔ <a name="export"/>
<p class="q">6. کیا میں ریسورس تلاش کنندہ سے معلومات برآمد کرسکتا ہوں؟

<p>ہاں۔ بائیں طرف سب سے نیچے "برآمد سی ایس وی" ربط پر کلک کرکے سی ایس وی شکل میں ریسورس تلاش کنندہ کے اندر سہولیات کے بارے میں سب سے جدید ترین معلومات کو ڈاؤن لوڈ کیا جاسکتا ہے۔ ہیتی صحت کی سہولیات کی " ماسٹر فہرست" کی آخری اشاعت کو"ماسٹر فہرست کا آرکائیو دیکھیں" ربط پر کلک کرکے تلاش کیا جاسکتا ہے۔ <a name="availability"/>
<p class="q">7. کیا Haiti کے علاوہ مقامی لوگوں کے لیے دستیاب ہے؟ 

<p>نہیں۔ اس وقت، صرف ہیتی میں طبی سہولیات کے لیے ریسورس تلاش کنندہ ہے۔ <a name="source"/>
<p class="q">8. ریسورس تلاش کنندہ  میں معلومات کہاں سے آتی ہے؟

<p>ریسورس تلاش کنندہ متعدد تنظیموں اور افراد کے درمیان اشتراک کا نتیجہ ہے۔ یہ <a href="http://sites.google.com/a/netspective.org/haiti-health-facilities/files">ہیتی صحت کی سہولیات کی ماسٹر فہرست</a>} سے اور فیلڈ میں تنظیموں اور افراد سے جاری تازہ کاریوں سے معلومات پر مشتمل ہوتا ہے۔ دی ہوئی سہولت کے لیے جدید ترین تدین کے ماخذ کو اس سہولت کے لیے "تفصیلات تبدیل کریں" ٹیب میں دیکھا جاسکتا ہے۔ Google انجینئروں کے ذریعہ سافٹ ویئر کو بنایا گیا تھا۔ <a name="privacy"/> 
<p class="q">9. کیا میں اپنے نام کو تبدیلی تاریخ میں عوامی طور پر درج کیے بغیر  ریسورس تلاش کنندہ میں معلومات کی تدوین کرسکتا ہوں؟

<p>جب آپ بطور مدیر سائپ کرتے ہیں تو، آپ ایک نام اور ایک الحاق کا اشارہ دیتے ہیں۔ اگر آپ چاہیں تو تخلص یا لقب داخل کرسکتے ہیں۔ <a name="mobile"/>
<p class="q">10. کیا  ریسورس تلاش کنندہ موبائل فون پر کام کرتا ہے؟ 

<p>اسمارٹ فون پر  ریسورس تلاش کنندہ ویب سائٹ کام کرسکتی ہے،  لیکن ابھی تک اسے موبائل فون پر اچھی طرح سے کام کرنے کے لیے تیار نہں کیا گیا ہے۔ <a name="spam"/>
<p class="q">11. میں کس طرح سے اسپام یا غلط استعمال کی رپورٹ کرسکتا ہوں؟

<p>برائے مہربانی <a href="https://sites.google.com/site/resourcefinderdiscussion">یہاں</a> پر اسپام، غلط استعمال، یا دوسرے تشاویش کی رپورٹ کریں۔ <a name="feedback"/>
<p class="q">12. میں کس طرح سے ریسورس تلاش کنندہ کے بارے میں فیڈبیک فراہم کروں؟

<p>آپ کے پاس کوئی بھی فیڈبیک ہو اسے فراہم کرنے کے لیے آپ کی پیشگی شکریہ <a href="https://sites.google.com/site/resourcefinderdiscussion">یہاں</a>۔ {% include "footer.html" %} {% include "../../templates/analytics.html" %}
</body>
</html>
