<!DOCTYPE html> 
<html DIR="RTL" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ریسورس تلاش کنندہ</title>
<style>
  body, h1, td, p { font-family: helvetica, arial; font-size: 13px; }
  h1 { font-size: 16px }
  .footer { margin: 3em 0 0; text-align: center; color: #666; }
  .maincontent { width: 760px; margin: 15px; }
</style>
</head>
<body class="maincontent">
<h1>Google ریسورس تلاش کنندہ کے لیے خدمت کی شرائط</h1>
<p>Google ریسورس تلاش کنندہ ﴿نیچے بطور "خدمت" کہاگیا ہے﴾ میں آپ کی دلچسپی کے لیے آپ کا شکریہ ﴿نیچے بطور "خدمت" حوالہ دیا ہوا ہے﴾۔ خدمت آپ کو جائے وقوع کی معلومات اور Google کے ذریعہ فراہم کردہ مشمول کے تعلق سے ریسورس کی معلومات کا اضافہ کرنے، تدوین کرنے، اور تلاش کرنے کی اجازت دیتی ہے۔

<p> Google ریسورس تلاش کنندہ ﴿نیچے بطور "خدمت" کہاگیا ہے﴾ اور کوئی کوائف یا خدمت کے ذریعہ رسائی کی ہوئی معلومات کا استعمال کرکے، آپ<a href="http://www.google.com/intl/en_us/help/terms_maps.html">Google Maps/Earth Terms of Service</a>, the <a href="/privacy">Google ریسورس تلاش کنندہ نجی حیثیت کی پالیسی </a>, اور نیچے دی گئی اضافی شرائط و ضوابط کے ذریعہ پابند ہونے پر متفق ہوتے ہیں۔ یہ شرائط، ایک ساتھ ملاکر، انہیں یہاں "معاہد" کہاجاتا ہے۔ معاہدے کے مطابق خدمت آپ کو آپ کے غیراقتصادی استعمال کے لیے دستیاب کرائی گئی  ہے۔

<h3>مناسب ضابطہ اخلاق اور ممنوع کاروائیاں</h3>
<p>آپ متفق ہوتے ہیں کہ خدمت استعمال کرنے کے دوران  آپ خود اپنے ضابطہ اخلاق اور مشمول کے لیے ذمہ دار ہیں۔  آپ خدمت کو صرف ان مقاصد کے لیے استعمال کرنے پر متفق ہوتے ہیں جو قانونی، درست اور اس معاہدے کے مطابق ہیں۔ مثال کے طور پر، اور بطور تحدید نہیں، آپ متفق ہوتے ہیں کہ خدمت استعمال کرتے وقت، آپ درج ذیل نہیں کریں گے:
<ul>
<li>بدنام، غلط استعمال، پریشان، تعاقب، دھمکی یا بصورت دیگر دوسروں کے قانونی حقوق کی خلاف ورزی ﴿جیسے نجی حیثیت یا شہرت کے حقوق﴾ کریں گے؛
<li>اپ لوڈ، پوسٹ، ای میل، ترسیل، یا بصورت دیگر دوسروں نام، پتہ، فون نمبر، یا ای میل پتہ دستیاب کرائیں گے، جب تک وہ معلومات اس فرد کے ذریعہ عوامی طور پر دستیاب نہ کرائی گئی ہو، یا معلومات کو عوامی طور پر دستیاب کرانے کی اس فرد کی منظوری نہ ہو؛
<li>اپ لوڈ، پوسٹ، ای میل، ترسیل، یا بصورت دیگر کوئی غیرمناسب، رسواکن، متجاوز، فحش، یا غیرقانونی مشمول دستیاب کرائیں گے؛ 
<li>کسی صارف کے جمع کردہ معلومات میں تدوین یا تبدیلی اس طریقے سے کرنا جسے آپ جانتے ہیں، یا معقولاً جاننا چاہیے، وہ درست ہے، یا
<li>خمدت میں مشمول استعمال کرنا، بشمول افراد کے بارے میں معلومات، ان کو براہ راست مارکٹنگ، تشہیر، یا کسی شخص کو اشتہاری مواد۔
</ul>

<p>آپ سمجھتے ہیں اور مفتق ہوتے ہیں کہ Google خدمت میں صارف کے جمع کردہ مشمول کو پری اسکرین کرسکتا ہے اور نہیں کرسکتا ہے، اور اس کے پاس حق ہوگا، ﴿لیکن ذمہ داری نہیں﴾، پری اسکرین کرنے کا اس کا خصوصی اختیار، خدمت کے تعلق سے صارف کے جمع کردہ مشمول کو مسترد کرنے یا ہٹانے کا اختیار۔

<h4>دستبرداری</h4>
<p>آپ اعتراف اور اتفاق کرتے ہیں کہ کوئی مشمول ﴿بشمول صارف کا جمع کردہ مشمول﴾ خدمت کے ذریعہ دسیتاب یا قابل رسائی کیا ہوا فراہم کیا گیا ہے "جیسا ہے"، اور آپ اسے اپنے جوکھم پر استعمال کرنے پر متفق ہوتے ہیں۔ Google کوئی گارنٹی، نمائندگی یا  کسی طرح کی ضمانت نہیں دیتا ہے، وضاحت یا لاگو نہیں کرتا ہے، قانوناً ہونے والا، یا بصورت دیگر،  بشمول لیکن ان تک محدود نہیں، خاص مقصد کے لیےمشمول، کوالٹی، صحت، مکمل، اعتماد، موزونیت، فائدہ مندی، یا یہ کہ خدمت غیر مخل یا خامی سے خالی ہوگی۔ {% include "footer.html" %} {% include "../../templates/analytics.html" %}
</body>
</html>
